
body {color:black;
      background:center;
      background-image:url(imgFood.jpg) ;
      font-family:Gill Sans,sans-serif,Garamond;
      position:absolute;
}

h3 {font-family:Arial;font-style:normal;font-size:small;
}
a { text-decoration:none; font-weight: normal; }
a:link, a:visited { color: black }
a:link  { text-decoration:underline; }	
a:hover { background-color: #6699FF; text-decoration: underline; }

#wrap {width:1000px; 
       height:600px;
       background-color:#FFCC99 ;
       margin-left:260px;
       margin-right:200px;
       margin-top:90px;
       margin-bottom:60px;
       padding-bottom:5px;padding-left:5px;padding-right:5px;padding-top:5px;
       border-left: solid 2px black; 
       border-right: solid 2px black;  
       border-top: solid 2px black;
       border-bottom: solid 2px black;
}

#footer { width:1000px; background:#cc9; position:absolute; bottom:5px;}
#footer p { margin:10px;font-style:italic; text-align:center; font-size:small; }

#nav { padding:0px 0px; text-align:center;margin:auto; }
#nav { padding:5px 5px; text-align:center; }
#nava p {text-align:left;}

#GridView1 {width:auto;
            text-align:center;
            border-collapse:collapse;
            border: solid 2px #FF9933;
}
/* gridview: general style */
.gv table { padding: 0px;
            margin: 0px;
}

/* set the table body*/
.gv td {border: solid 2px #FF9933;}

/* gridview table headings */
.gv th { color: white;
         background: #FFFF99;
         font-weight: bold;
         padding: 5px 10px;
         font-size: medium;
}


.cc table { padding: 0px;
            margin: 0px;
}

.cc td { padding: 2px; border: solid 2px #FF9933; color: black; 
         text-align:right;
         text-align-last:left;}

.cc textright { text-align:right;
}

.cc a { color: black; text-decoration: none;}

.cc .alt { background: #FFFFCC repeat-x ; }

